/****************************************
 * Global
 ****************************************/

html.logreg {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    font-family: 'Jost', Arial, sans-serif;
    background: url("../images/bg_white.png") repeat 0 0;
}

html.logreg body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/logreg_bg_black.png") no-repeat center center;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 600;
}

/*** Header ***/
#header_wrapper {
    filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.75));
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    background: url("../images/index_bg_black.png") no-repeat center center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 80%);
    -webkit-box-shadow: 0 7px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 7px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 7px 5px 0 rgba(0,0,0,0.75);
}

/* Brand */
#brand_wrapper {
    text-align: center;
    width: 50%;
}

#logo {
    width: 65%;
}

#catchphrase {
    font-size: 2.25rem;
    margin: 10px 0 30px 0;
    font-family: 'Quicksand', Arial, sans-serif;
    color: #FFFFFF;
}

#catchphrasePoint {
    color: #009BFF;
}

#start_buttons .btn:not(:last-child) {
    margin-right: 25px;
}

/*** Forms ***/
/** Spacers **/
.link_spacer {
    margin-bottom: 15px;
}

/** Links **/
form a {
    display: inline;
    color: #009BFF;
    text-decoration: none;
}

form a:hover, form a:focus {
    text-decoration: underline;
}

/** Fields **/
.field {
    display: block;
    width: 90%;
    margin: 0 auto 2em auto;
}

.field input {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    padding: 1.5em 1.5em 1em 1.5em;
    background: #FAFAFA;
    border: none;
    border-bottom: 2px #eaeaea solid;
}

.field input:focus,
.field input:not(:placeholder-shown) {
    outline: none;
    box-shadow: none;
    border-color: #009BFF;
}

/** Fields - Floating label **/
.floating_label_wrapper {
    position: relative;
    font-size: 0.9em;
    background: #FAFAFA;
    font-family: 'Jost', Arial, sans-serif;
}

/* Floating label - Input */
.floating_label_input {
    position: relative;
    background: transparent !important;
    z-index: 2000;
}

.floating_label_input::placeholder { color: transparent; }

.floating_label_input,
.floating_label_input + .floating_label {
    display: block;
    width: 100%;
    max-height: 3.8em; /* = (fontSize * lineHeight) + (paddingTop + paddingBottom) */
    line-height: 1;
    font: inherit;
}

/* Floating label - Label */
.floating_label_input + .floating_label {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 1.5em;
    transition: transform .25s, opacity .25s ease-in-out;
    transform-origin: 0 0;
    opacity: .5;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 1500;
}

.floating_label_input:focus + .floating_label,
.floating_label_input:not(:placeholder-shown) + .floating_label {
    transform: translate(1%, -30%) scale(.8);
    opacity: .25;
}
/** Buttons **/
.btn {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 225px;
    height: 50px;
    line-height: 45px;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background: none;
    color: #FFFFFF;
    border: 2px #009BFF solid;
    border-radius: 25px;
    font-family: 'Jost', Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 150ms;
}

.btn:focus {
    outline: none;
}

.btn.filled {
    background: #009BFF;
}

.btn.filled:hover {
    background: #0094f5;
    border-color: #0094f5;
}

.btn.empty:hover {
    background: #0094f5;
    border-color: #0094f5;
}

/* Submit button */
input[type="submit"] {
    margin-top: 10px;
}

/*** Footer ***/
#footer_spacer {
    height: 280px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #FFFFFF;
}

footer p {
    margin: 0;
}

/* Footer social */
#footerSocial {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #009BFF;
}

#footerSocial p {
    display: inline-block;
    margin-right: 20px;
}

#footerSocial i {
    font-size: 2rem;
    margin-right: 20px;
    cursor: pointer;
}

/* Footer links */
#footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    background: #1D2331;
}

.fLSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90%;
}

.fLSection h3 {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: bolder;
    text-transform: uppercase;
}

.fLSection ul {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.fLSection li {
    margin-bottom: 10px;
}

.fLSection a {
    font-size: 0.9rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 100ms;
}

.fLSection a:hover {
    color: #009BFF;
    text-decoration: underline;
}

#footerLogo {
    display: block;
    height: 100%;
}

#footerLogo img {
    max-width: 100%;
    max-height: 100%;
}

/* Footer copyright */
#footerCopyright {
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 0.8rem;
    background: #161D27;
}

/****************************************
 * Index
 ****************************************/

/*** Index container ***/
.index_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 40px 0;
}

.index_content_wrapper:nth-child(odd) {
    color: #FFFFFF;
    background: url("../images/index_img/content_bg_black.png") no-repeat center center;
    background-size: cover;
}

.index_content {
    width: 90%;
    height: 400px;
}

/* Head */
.iCHead {
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

/* Body */
.iCBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
}

.iCBody img {
    height: 80%;
    -webkit-box-shadow: 0 7px 5px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 7px 5px 0 rgba(0,0,0,0.4);
    box-shadow: 0 7px 5px 0 rgba(0,0,0,0.4);
}

.index_content p {
    display: inline-block;
    width: 40%;
}

/****************************************
 * Login / Register
 ****************************************/

/*** Login / register box ***/
#login, #register {
    box-sizing: border-box;
    text-align: center;
    width: 450px;
    padding: 25px 15px;
    background: #FFFFFF;
    border-radius: 4px;
    -webkit-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.25);
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.25);
}

#login h1, #register h1 {
    font-size: 1.5em;
    margin-bottom: 35px;
}