/****************************************
 * Global
 ****************************************/

body {
    /*position: relative;*/
    height: 100%;
    font-family: 'Jost', Arial, sans-serif;
    /* V1
    background: url("../images/bg_white.png") repeat 0 0;
    */
    /* V2 */
    background: url("../images/bg_white_alt.jpg") no-repeat 0 0 fixed;
    background-size: cover;
}

html.logreg body {
    background: url("../images/logreg_bg_black.png") no-repeat center center;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 600;
}

a {
    outline: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.no-scroll {
    overflow: hidden;
}

/*** Header ***/
#header_wrapper {
    filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.75));
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    background: url("../images/index_bg_black.png") no-repeat center center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 80%);
    -webkit-box-shadow: 0 7px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 7px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 7px 5px 0 rgba(0,0,0,0.75);
}

/* Brand */
#brand_wrapper {
    text-align: center;
    width: 50%;
}

#logo {
    width: 65%;
}

#catchphrase {
    font-size: 2.25rem;
    margin: 10px 0 30px 0;
    font-family: 'Quicksand', Arial, sans-serif;
    color: #FFFFFF;
}

#catchphrasePoint {
    color: #009BFF;
}

#start_buttons .btn:not(:last-child) {
    margin-right: 25px;
}

/*** Navbar ***/
#navbar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    padding: 0 0 0 12px;
    background-color: #1D2331;
    border-bottom: 15px #009BFF solid;
}

/** Navbar logo **/
#navbarLogo {
    display: block;
    height: 80%;
}

#navbarLogo img {
    height: 100%;
}

#navbarLogo img:hover {
    animation: shake 620ms cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

/** Navbar link **/
#navbar_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    height: 95px;
}

.navbarIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.125em;
    height: 95px;
    line-height: 95px;
    padding: 0 10%;
    text-decoration: none;
    color: white;
    transition: color 100ms linear;
    cursor: pointer;
}

.navbarIcon span {
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbarIcon i, .navbarIcon span { line-height: 95px; }
.navbarIcon.leftIcon i          { margin-right: 15px; }
.navbarIcon.rightIcon i         { margin-left: 15px; }

.navbarIcon:hover {
    color: #009BFF;
    background: #161D27;
}

/*** Success and errors messages ***/
.errorBox, .successBox {
    box-sizing: border-box;
    text-align: left;
    width: 90%;
    line-height: 1.5em;
    margin: 20px auto 0 auto;
    padding: 5px 10px;
    word-break: break-word;
}

.errorBox {
    background: #f44336;
    color: #FFFFFF;
}

.successBox {
    background: #4CAF50;
    color: #FFFFFF;
}

.errorBox a,
.successBox a {
    color: #000000;
    text-decoration: none;
}

.errorBox a:hover,
.successBox a:hover {
    text-decoration: underline;
}

/*** Forms ***/
/** Spacers **/
.link_spacer {
    margin-bottom: 15px;
}

/** Links **/
form a {
    display: inline;
    color: #009BFF;
    text-decoration: none;
}

form a:hover, form a:focus {
    text-decoration: underline;
}

/** Title **/
form h3 {
    font-size: 1.1em;
    margin-bottom: 15px;
}

/** Fields **/
.field {
    display: block;
    width: 90%;
    margin: 0 auto 2em auto;
}

/* All inputs */
.field input, .field select {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    padding: 1.5em 1.5em 1em 1.5em;
    background: #FAFAFA;
    border: none;
    border-bottom: 2px #eaeaea solid;
    transition: background-color 100ms ease-in;
}

.field input:hover, .field select:hover {
    background: #f6f6f6;
}

.field input:focus,
.field input:not(:placeholder-shown),
.field select:focus,
.field select:not(:invalid) {
    outline: none;
    box-shadow: none;
    border-color: #009BFF;
}

.field input[type="date"] {
    padding: 1em;
    border-color: #eaeaea;
    cursor: pointer;
}

.field select {
    padding: 1em;
    cursor: pointer;
}

/* Double fields */
.double_field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 2em auto;
}

.double_field .field {
    width: 48%;
    margin: 0;
}

/* Radio buttons and checkboxes */
.field input[type="radio"],
.field input[type="checkbox"] {
    width: auto;
    display: none;
}

.radio_label,
.new_radio_label,
.checkbox_label,
.new_checkbox_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    line-height: 20px;
    margin: 0 auto 5px auto;
    padding: 0 0 0 40%;
    cursor: pointer;
    transition: color 150ms ease-in;
}

.new_radio_label,
.new_checkbox_label { color: #c1c1c1; }

.radio_label:hover,
.checkbox_label:hover       { color: #009BFF; }
.new_radio_label:hover,
.new_checkbox_label:hover   { color: #b0b0b0; }

.field > .radio_label,
.field > .new_radio_label,
.field > .checkbox_label,
.field > .new_checkbox_label {
    margin-bottom: 10px;
}

.radio,
.checkbox {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: transparent;
    border: 2px #009BFF solid;
    border-radius: 50%;
}

.checkbox { border-radius: 0px; }

.new_radio_label .radio,
.new_checkbox_label .checkbox       { border-color: #c1c1c1; }
.new_radio_label:hover .radio,
.new_checkbox_label:hover .checkbox { border-color: #b0b0b0; }

.radio:after,
.checkbox:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 12px;
    margin: auto;
    background: transparent;
    border-radius: 50%;
    transition: background-color 150ms ease-in-out;
}

.checkbox:after { border-radius: 0px; }

input[type="radio"]:checked + .radio:after,
input[type="checkbox"]:checked + .checkbox:after {
    background: #009BFF;
}

.radio_label input,
.new_radio_label input,
.checkbox_label input,
.new_checkbox_label input {
    height: 20px;
    line-height: 20px;
    padding: 0;
    background: none;
    color: #000000;
}

.radio_label input:hover,
.new_radio_label input:hover,
.checkbox_label input:hover,
.new_checkbox_label input:hover {
    background: none;
    color: #000000;
}

.radio_label .btn,
.new_radio_label .btn,
.checkbox_label .btn,
.new_checkbox_label .btn {
    text-align: center;
    margin: 0 0 0 10px;
    color: #FFFFFF;
}

.radio_label .btn:hover,
.new_radio_label .btn:hover,
.checkbox_label .btn:hover,
.new_checkbox_label .btn:hover {
    color: #FFFFFF;
}

/** Fields - Floating label **/
.floating_label_wrapper {
    position: relative;
    font-size: 0.9em;
    background: #FAFAFA;
    font-family: 'Jost', Arial, sans-serif;
    transition: background-color 100ms ease-in;
}

.floating_label_wrapper:hover {
    background: #f6f6f6;
}

/* Floating label - Input */
.floating_label_input {
    position: relative;
    background: transparent !important;
    z-index: 2000;
}

.floating_label_input::placeholder { color: transparent; }

.floating_label_input,
.floating_label_input + .floating_label {
    display: block;
    width: 100%;
    max-height: 3.8em; /* = (fontSize * lineHeight) + (paddingTop + paddingBottom) */
    line-height: 1;
    font: inherit;
}

/* Floating label - Label */
.floating_label_input + .floating_label {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 1.5em;
    transition: transform .25s, opacity .25s ease-in-out;
    transform-origin: 0 0;
    opacity: .5;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 1500;
}

.floating_label_input:focus + .floating_label,
.floating_label_input:not(:placeholder-shown) + .floating_label {
    transform: translate(1%, -30%) scale(.8);
    opacity: .25;
}

/** Charcount **/
.charCount {
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: right;
    font-size: 0.8rem;
    color: #8a8a8a;
    pointer-events: none;
}

.charCount.limitReached {
    color: #f44336;
}

/** Buttons **/
/* Button */
.btn {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 225px;
    height: 50px;
    line-height: 45px;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background: none;
    color: #FFFFFF;
    border: 2px #009BFF solid;
    border-radius: 25px;
    font-family: 'Jost', Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 150ms;
}

.btn:focus {
    outline: none;
}

/* Filled / empty */
.btn.filled {
    background: #009bff;
}

.btn.filled:hover,
.btn.empty:hover {
    background: #0094f5;
    border-color: #0094f5;
}

/* Red */
.btn.red {
    background: #f44336;
    border-color: #f44336;
}

.btn.filled.red:hover,
.btn.empty.red:hover {
    background: #ea3c36;
    border-color: #ea3c36;
}

/* Smaller */
.btn.smaller {
    font-size: 0.9em;
    width: 180px;
    height: 35px;
    line-height: 30px;
}

.btn.smaller-2 {
    font-size: 0.6em;
    width: 100px;
    height: 23px;
    line-height: 23px;
}

/* Fixed on input */
.btn.inputFixed {
    display: block;
    font-size: 1em;
    width: 125px;
    border-radius: 0 20px 20px 0;
}

/* Submit button */
input[type="submit"] {
    margin-top: 10px;
}

/*** Delimiter ***/

.delimiter {
    width: 95%;
    height: 1px;
    background: #1D2331;
    margin: 20px auto;
}

/*** Icons ***/

i.svgImport {
    position: relative;
    display: inline;
    margin: 0 5px;
    padding: 0 12px;
}

i.svgImport svg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    max-width: 24px;
    width: 100%;
    max-height: 24px;
    margin: 0 auto;
}

/*** Footer ***/
#footer_spacer {
    height: 280px;
}

footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: -230px;
    width: 100%;
    color: #FFFFFF;
    z-index: 4000;
}

footer p {
    margin: 0;
}

/* Footer social */
#footerSocial {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #009BFF;
    cursor: pointer;
}

#footerSocial p {
    display: inline-block;
    margin-right: 20px;
}

#footerSocial i {
    font-size: 2rem;
    margin-right: 20px;
    cursor: pointer;
}

/* Footer links */
#footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    background: #1D2331;
}

.fLSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90%;
}

.fLSection h3 {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: bolder;
    text-transform: uppercase;
}

.fLSection ul {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.fLSection li {
    margin-bottom: 10px;
}

.fLSection a {
    font-size: 0.9rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 100ms;
}

.fLSection a:hover {
    color: #009BFF;
    text-decoration: underline;
}

.fLBreak {
    display: none;
    flex-basis: 100%;
    width: 0;
}

#footerLogo {
    display: block;
    height: 100%;
}

#footerLogo img {
    max-width: 100%;
    max-height: 100%;
}

/* Footer copyright */
#footerCopyright {
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 0.8rem;
    background: #161D27;
}

/****************************************
 * Index
 ****************************************/

/*** Index container ***/
.index_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 40px 0;
}

.index_content_wrapper:nth-child(odd) {
    color: #FFFFFF;
    background: url("../images/index_img/content_bg_black.png") no-repeat center center;
    background-size: cover;
}

.index_content {
    width: 90%;
    height: 400px;
}

/* Head */
.iCHead {
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

/* Body */
.iCBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
}

.iCBody img {
    height: 80%;
    -webkit-box-shadow: 0 7px 5px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 7px 5px 0 rgba(0,0,0,0.4);
    box-shadow: 0 7px 5px 0 rgba(0,0,0,0.4);
}

.index_content p {
    display: inline-block;
    width: 40%;
}

/****************************************
 * Login / Register
 ****************************************/

/*** Login / register box ***/
#login, #register {
    box-sizing: border-box;
    text-align: center;
    width: 450px;
    margin: 2em auto;
    padding: 25px 15px;
    background: #FFFFFF;
    border-radius: 4px;
    -webkit-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.25);
    box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.25);
}

#login { margin-bottom: 17.55em; }

#login h1, #register h1 {
    font-size: 1.5em;
    margin-bottom: 35px;
}

/****************************************
 * Home
 ****************************************/

/*** Survey buttons ***/
#surveys_btn {
    text-align: center;
    margin-top: 4.40%;
}

#surveys_btn .btn {
    margin: 0;
}

#surveys_btn p {
    font-size: 0.8em;
}

/*** Survey list ***/
/** Survey container **/
#surveys_container {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

#surveys_container h2 {
    font-size: 1.1em;
    margin: 0 0 15px 15%;
}

/** Survey list **/
/* List */
#surveys_list {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 15%;
    list-style: none;
}

#noSurvey {
    text-align: center;
    margin: 3em 0;
    color: #8a8a8a;
}

/* Surveys */
.survey {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    background: #f6f6f6;
    border-radius: 3px;
    transition: background-color 100ms ease-in;
}

.survey::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 8px 0 rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 7px 7px 8px 0 rgba(0, 0, 0, 0.20);
    box-shadow: 7px 7px 8px 0 rgba(0, 0, 0, 0.20);
    transition: opacity 200ms ease-in-out;
}

.survey:hover::after {
    opacity: 1;
}

.surveyLink {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: #000000;
    text-decoration: none;
}

.surveyLink:hover { text-decoration: none; }

.surveyName {
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    color: #000000;
    transition: color 100ms ease-in;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.surveyDate {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
    color: #c1c1c1;
    transition: color 100ms ease-in;
}

.surveyMembers {
    float: right;
    color: #000000;
    transition: color 100ms ease-in;
}

.surveyURIContainer {
    box-sizing: border-box;
    font-size: 0.7em;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background: #eaeaea;
    transition: background-color 100ms ease-in;
}

.surveyURI {
    color: #8d8d8d;
    transition: color 100ms ease-in;
}

.surveyDeletor {
    position: relative;
    cursor: pointer;
}

.sDBox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.sDBox:checked ~ .survey                        { background: #f44336; }
.sDBox:checked ~ .survey .surveyName            { color: #FFFFFF; }
.sDBox:checked ~ .survey .surveyDate            { color: #bf0e01; }
.sDBox:checked ~ .survey .surveyMembers         { color: #FFFFFF; }
.sDBox:checked ~ .survey .surveyURIContainer    { background: #e8372a; }
.sDBox:checked ~ .survey .surveyURI             { color: #8b0000; }

/****************************************
 * My account
 ****************************************/

/*** Back link ***/
#backToHome {
    margin: 20px 0 0 5%;
}

/*** My account boxes ***/
.account_box {
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    padding: 50px;
    background: #FFFFFF;
}

/** Boxes **/
.account_box h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.account_box form   { text-align: center; }
.account_box .field { text-align: left; }

/** Stats **/
#stats_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Stat box */
.stat {
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 5px;
    background: #FAFAFA;
    cursor: default;
}

.stat:hover { background: #f6f6f6; }

.stat svg {
    max-width: 225px;
    max-height: 150px;
}

/****************************************
 * View survey
 ****************************************/

#survey_viewer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

/*** Questions list ***/
#sVQuestionList {
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
    font-size: 1.1em;
    width: 25%;
    height: 100%;
    background: #f6f6f6;
    overflow-y: auto;
}

#sVQuestionList ul {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

/** Questions **/
#sVQuestionList li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    transition: background-color 100ms ease-in;
}

#sVQuestionList li:hover,
#sVQuestionList li.selected {
    background: #ececec;
}

#sVQuestionList li a {
    display: block;
    padding: 0 50px;
    color: #000000;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/** Back button **/

#sVQBack a {
    color: #009BFF !important;
}

/** New question **/
.newQuestion a {
    color: #c1c1c1 !important;
}

.newQuestion svg rect       { fill: #c1c1c1 !important; }
.newQuestion svg polygon    { stroke: #c1c1c1 !important; }

/** Finish survey **/
#sVQuestionList > form {
    margin-top: 3em;
}

/*** Questions view ***/
#sVQuestionView {
    box-sizing: border-box;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 1;
    font-size: 1em;
    height: 100%;
    padding: 30px 50px;
    font-weight: normal;
}

#sVQuestionView .errorBox,
#sVQuestionView .successBox {
    margin: 0 auto 20px auto;
}

/** Survey title **/
#sVQTitle {
    position: relative;
    height: 85px;
    margin-bottom: 20px;
}

/* Form */
#sVQTitle form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 85px;
}

#sVQTitle .btn {
    height: 100%;
    margin: 0;
}

#sVQTitle .charCount {
    right: 145px;
}

/* Survey title */
#sVQTitle h1 {
    flex-grow: 1;
    font-size: 1.4em;
    height: 100%;
}

#sVQTitle h1 textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 1.4em;
    resize: none;
    padding: 10px;
    background: #ffffff;
    border: none;
    border-radius: 20px 0 0 20px;
}

/** Question view **/
/* Question title */
#questionTitle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 50px;
}

#questionTitle h2 {
    flex-grow: 1;
    text-align: left;
    font-size: 1.2em;
    height: 100%;
}

#questionTitle h2 textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 1.2em;
    resize: none;
    padding: 10px;
    background: #FFFFFF;
    border: none;
    border-radius: 20px 0 0 20px;
}

#questionTitle .btn {
    margin: 0;
    height: 100%;
}

#questionTitle .charCount {
    right: 145px;
}

/* Question content */
#sVQuestionView .deleteChoice {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

#sVQuestionView .deleteChoice svg polygon,
#sVQuestionView .deleteChoice svg rect {
    stroke: #f44336;
    color: #f44336;
}

#sVQuestionView .deleteChoice svg rect { fill: #f44336; }

/** New question **/
#new_question_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

/** New question header **/
#new_question_header {
    text-align: center;
    width: 100%;
    height: 10%;
    line-height: 45px;
    background: #1D2331;
    color: #FFFFFF;
    border-radius: 10px 10px 0 0;
}

/** New question body **/
#new_question_body {
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

/** New question list **/
#new_question_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* New question list item */
#new_question_list .nQ_item {
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 10px 10px 0;
    padding: 5px;
    color: #000000;
    background: #f6f6f6;
    text-decoration: none;
    transition: background-color 150ms ease-in;
}

#new_question_list .nQ_item:hover { background: #eaeaea; }

#new_question_list .nQ_item svg {
    max-width: 80%;
    max-height: 80%;
}

#new_question_list .nQ_item svg path,
#new_question_list .nQ_item svg line,
#new_question_list .nQ_item svg polygon,
#new_question_list .nQ_item svg rect,
#new_question_list .nQ_item svg circle,
#new_question_list .nQ_item svg polyline {
    stroke: #1D2331;
    color: #1D2331;
}
#new_question_list .nQ_item svg path,
#new_question_list .nQ_item svg circle.cls-5 { fill: #1D2331; }

#new_question_list .nQ_break {
    display: block;
    flex-basis: 100%;
    width: 0;
}

/****************************************
 * Responsive
 ****************************************/

@media all and (max-device-width: 767px) {

    /****************************************
     * Global
     ****************************************/

    /*** Forms ***/
    /** Input **/
    input, select,
    .floating_label_wrapper { font-size: 1.6em; }

    label.radio_label       { font-size: 1.8em; margin-bottom: 25px !important; }

    /** Buttons **/
    .btn {
        font-size: 3em;
        width: 450px;
        height: 100px;
        line-height: 95px;
        border-radius: 50px;
    }

    .btn.smaller {
        font-size: 1.5em;
        width: 250px;
        height: 55px;
        line-height: 50px;
    }

    /** Navbar **/
    .navbarIcon         { padding-left: 0; }
    .navbarIcon span    { display: none; }
    .navbarIcon i       { font-size: 3.5rem; }

    /** Footer **/
    #footerSocial   { height: 75px; }
    #footerSocial p { display: none; }

    #footerSocial i {
        font-size: 3.5rem;
        width: 90px;
    }

    #footerLinks { height: 600px; }

    .fLSection      { height: auto; }
    .fLSection h3   { font-size: 1.65em; }
    .fLSection li   { margin-bottom: 20px; }
    .fLSection a    { font-size: 1.5em; }

    .fLBreak { display: block }

    /****************************************
     * Index
     ****************************************/

    /** Header **/
    header { clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 25% 90%, 0% 80%); }

    #brand_wrapper, #logo{ width: 90%; }

    #catchphrase { font-size: 3.2em; }

    #start_buttons { margin: 100px 0; }

    /*** Index container ***/
    body > .index_content_wrapper { margin-top: 0; }
    body > .index_content_wrapper ~ .index_content_wrapper { margin-top: 40px; }

    /****************************************
     * Login / register
     ****************************************/

    /** Forms **/
    #register .btn,
    #login .btn {
        font-size: 1.5em;
        width: 250px;
        height: 55px;
        line-height: 50px;
    }

    #register a,
    #login a {
        font-size: 1.5em;
    }

    /****************************************
    * Home
    ****************************************/

    /** Buttons **/
    #surveys_btn .btn:not(:last-child)  { margin-right: 10px; }
    #surveys_btn em                     { display: none; }

    /** Surveys **/
    #surveys_container h2 {
        font-size: 2.25em;
        margin-left: 10%;
    }

    #surveys_list { padding: 0 10%; }

    .survey {
        height: 85px;
        margin-bottom: 20px;
    }

    .surveyName     { font-size: 1.9em; }
    .surveyDate     { display: none; }
    .surveyMembers  { display: none; }

    .surveyURIContainer {
        height: 25px;
        line-height: 25px;
    }

    .surveyURI{
        font-size: 1.50em;
        line-height: 25px;
    }

    /****************************************
    * My account
    ****************************************/

    /* Account boxes */
    .account_box h2         { font-size: 2em; }
    .account_box h3         { font-size: 1.8em; }

    .account_box label      { font-size: 1.6em; }
    label.radio_label       { font-size: 2em; }

    .account_box .btn {
        font-size: 1.5em;
        width: 250px;
        height: 55px;
        line-height: 50px;
    }

    /* Stats */
    .account_box .stat svg {
        max-width: 175px;
        max-height: 100px;
    }

    .account_box .stat p {
        font-size: 1.5em;
    }

    /****************************************
    * Analytics
    ****************************************/

    /** Survey Viewer **/
    #survey_viewer { flex-direction: column; }

    /* Question list */
    #sVQuestionList {
        width: 100%;
        height: 20%;
    }

    #sVQuestionList ul { font-size: 1.6em; }

    #sVQBack { font-size: 1.1em; }

    /* Question view */
    #sVQuestionView h2 { font-size: 2em; }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) {

    /****************************************
    * Home
    ****************************************/

    header { height: 40vh; }

    #brand_wrapper, #logo { width: 65%; }

    #catchphrase { font-size: 1.7em; }

}

/****************************************
 * Keyframes
 ****************************************/

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}